<ion-header>
  <ion-toolbar>
    <ion-title>Getting Your Route</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label class="ion-text-center">
      <h1>{{(stopWatch$ | async).value | duration}}</h1>
    </ion-label>
  </ion-item>
  <ng-container *ngIf="!(stopWatch$ | async).count">
    <ion-button (click)="onStart()" expand="block">Start</ion-button>
  </ng-container>
  <ng-container *ngIf="(stopWatch$ | async).count">
    <ion-button (click)="onStop()" expand="block">Stop</ion-button>
  </ng-container>
  <ng-container *ngIf="(stopWatch$ | async).value > 0">
    <ion-button (click)="onEnd()" expand="block" color="danger">End Itinerary</ion-button>
  </ng-container>
</ion-content>
