ion-toolbar{
    --background:  var(--ion-color-primary);
}
ion-title{
    --color:  var(--ion-color-light);
}

ion-button{
    --text: var(--ion-color-light);
}

.bottom-img{
    height: 14rem;
}
