ion-toolbar{
    --background:  var(--ion-color-primary);
}
ion-title{
    --color:  var(--ion-color-light);
}

ion-button{
    --text: var(--ion-color-light);
}

.createIt{
    --color:  var(--ion-color-dark);
}

.modalButton{
    --color: var(--ion-color-light);
}

.bottom-img{
    margin-top: 2rem;
    height:30rem;
}
