<ion-header>
  <ion-toolbar>
    <ion-title>Get Your Route</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="open-modal" expand="block">Create Itinerary</ion-button>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-title>Create Itinerary</ion-title>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Itinerary name</ion-label>
          <ion-input type="text" placeholder="Itinerary" [(ngModel)]="itineraryName"></ion-input>
        </ion-item>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
